name: Terragrunt Build Workflow

on: 
  workflow_dispatch:
    inputs:
      working-directory:
        description: 'Choose build environment:'
        required: true
        type: choice
        options:
          - 'dev'
          - 'prod'
     
# Special permissions required for OIDC authentication
permissions:
  id-token: write
  contents: read
  pull-requests: write

# Set environment variables for the workflow
env:
  ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
  ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
  ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
  ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
  CLOUDFLARE_EMAIL: ${{ secrets.CLOUDFLARE_EMAIL }}
  CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
  KEY_VAULT_NAME: ${{ secrets.KEY_VAULT_NAME }}
  TFE_TOKEN: ${{ secrets.TFE_TOKEN }}
  TF_VAR_TFSTATE_RG_NAME: ${{ vars.TF_VAR_TFSTATE_RG_NAME }}
  TF_VAR_TFSTATE_STORAGE_ACCOUNT_NAME: ${{ vars.TF_VAR_TFSTATE_STORAGE_ACCOUNT_NAME }}
  TF_VAR_TFSTATE_CONTAINER_NAME: ${{ vars.TF_VAR_TFSTATE_CONTAINER_NAME }}

jobs:
  set-env:
    runs-on: ubuntu-latest
    outputs:
      WORKING_DIRECTORY: ${{ steps.set-working-dir.outputs.WORKING_DIRECTORY }}
      LATEST_TG_ID: ${{ steps.set-TG-id.outputs.LATEST_TG_ID }}
      LATEST_WEBAPP_BUILD_ID: ${{ steps.set-webapp-build-id.outputs.LATEST_WEBAPP_BUILD_ID }}
    steps:
      - id: set-working-dir
        run: |
          if [ "${{ inputs.working-directory }}" == "prod" ]; then
            echo "WORKING_DIRECTORY=./live/prod" >> "$GITHUB_OUTPUT"
          else
            echo "WORKING_DIRECTORY=./live/dev" >> "$GITHUB_OUTPUT"
          fi
      - id: set-TG-id
        run: |
          if [ "${{ inputs.working-directory }}" == "prod" ]; then
            echo "LATEST_TG_ID=${{ vars.LATEST_TG_ID_PROD }}" >> "$GITHUB_OUTPUT"
          else
            echo "LATEST_TG_ID=${{ vars.LATEST_TG_ID_DEV }}" >> "$GITHUB_OUTPUT"
          fi
      - id: set-webapp-build-id
        run: |
          if [ "${{ inputs.working-directory }}" == "prod" ]; then
            echo "LATEST_WEBAPP_BUILD_ID=${{ vars.LATEST_WEBAPP_PROD }}" >> "$GITHUB_OUTPUT"
          else
            echo "LATEST_WEBAPP_BUILD_ID=${{ vars.LATEST_WEBAPP_DEV }}" >> "$GITHUB_OUTPUT"
          fi
  env-info: 
    runs-on: ubuntu-latest
    needs: [ set-env ]
    steps:
      - name: Display Environment Info
        run: |
          echo "Build folder: ${{ needs.set-env.outputs.WORKING_DIRECTORY }}"
          echo "Plan ID: ${{ needs.set-env.outputs.LATEST_TG_ID }}"
          echo "Web App Run ID: ${{ needs.set-env.outputs.LATEST_WEBAPP_BUILD_ID }}"
  apply:
    runs-on: ubuntu-latest
    needs: [ set-env ]
    outputs:
      LATEST_WEBAPP_BUILD_ID: ${{ needs.set-env.outputs.LATEST_WEBAPP_BUILD_ID }}
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v5

      - name: Download Plan Artifact
        uses: actions/download-artifact@v4
        with:
          name: terragrunt-plan-artifact
          repository: bleecr7/azure-swa
          github-token: ${{ secrets.GH_PAT }} # token with actions:read permissions on target repo
          run-id: ${{ needs.set-env.outputs.LATEST_TG_ID }}
          path: /tmp/terragrunt/
      
      - name: List plan files
        run: tree /tmp/terragrunt/tfplan/

      - name: Apply
        uses: gruntwork-io/terragrunt-action@v3
        with:
          tg_dir: ${{ needs.set-env.outputs.WORKING_DIRECTORY }}
          tg_command: 'run --all --log-level debug --out-dir /tmp/terragrunt/tfplan/ apply'

  build-webapp:
    runs-on: ubuntu-latest
    needs: [ apply ]
    steps:
      - name: Download Plan Artifact
        uses: actions/download-artifact@v5
        with:
          name: react-build
          github-token: ${{ secrets.GITHUB_TOKEN }} # token with actions:read permissions on target repo
          repository: bleecr7/react-playground
          run-id: ${{ needs.apply.outputs.LATEST_WEBAPP_BUILD_ID }}
          path: ./dist/

      - name: 'Check files'
        run: tree ./dist/
      
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: 'Retrieve secret from Key Vault'
        id: keyvault
        uses: azure/CLI@v2
        with:
          inlineScript: |
            AZURE_STATIC_WEB_APPS_API_TOKEN=$(az keyvault secret show --name ${{ inputs.working-directory }}-swa-api-key --vault-name ${{ secrets.KEY_VAULT_NAME }} --query value -o tsv)
            echo "::add-mask::$AZURE_STATIC_WEB_APPS_API_TOKEN"
            echo "AZURE_STATIC_WEB_APPS_API_TOKEN=$AZURE_STATIC_WEB_APPS_API_TOKEN" >> $GITHUB_ENV
        
      - name: Build and Deploy SWA
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ env.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          action: "upload"
          skip_app_build: true
          app_location: "./dist/" # App source code path